<div class="inner">
	<div class="f-logo"></div>
	<div class="f-cnt">
		<div class="f-info">
			<ul class="info-cs">
				<li><strong class="strong">대표전화</strong><span class="span">&nbsp; 1566-3598 (070-4448-2678)</span></li>
				<li><strong class="strong">대표문의메일</strong><span class="span">&nbsp; egovframesupport@gmail.com</span></li>
			</ul>
		</div>
		<div class="f-link">
			<div class="link-go">
				{{ $gh_repo := $.Param "github_repo" -}}
				<a href="https://www.egovframe.go.kr/" class="krds-btn medium text" target="_blank" title="새 창 열림">전자정부 표준프레임워크 <i class="svg-icon ico-go"></i></a>
				<a href="{{$gh_repo}}" class="krds-btn medium text" target="_blank" title="새 창 열림">Git <i class="svg-icon ico-go"></i></a>
			</div>
		</div>
	</div>
	<div class="f-btm">
		<div class="f-btm-text">
			<div class="f-menu">
				<a href="https://github.com/eGovFramework/egovframe-docs?tab=readme-ov-file" class="krds-btn small text">이용 안내</a>
				<a href="https://www.egovframe.go.kr/home/sub.do?menuNo=23" class="krds-btn small text">라이센스</a>
			</div>
			<p class="f-copy">COPYRIGHT (C) 2024 eGovFramework. ALL RIGHTS RESERVED.</p>
		</div>
	</div>
</div>