{{$link := .RelPermalink}}
<nav id="mobile-nav" class="krds-main-menu-mobile" style="display:none">
  <div class="gnb-wrap" style="width:80%">
    <!-- gnb-header -->
    <div class="gnb-header">
      <!-- gnb-utils -->
      <div class="gnb-utils" style="margin-bottom:30px">

      </div>
      <!-- //gnb-utils -->
      <!-- gnb-service-menu -->
      <div class="gnb-service-menu" style="flex-direction:column">
        {{ range sort .Site.Menus.depth "Weight"}}
          <a href="{{.URL}}" class="link" style="width:auto; flex-direction:row; height:auto">{{.Name}}</a>
        {{ end }}
      </div>
      <!-- gnb-service-menu -->
    </div>
    <!-- //gnb-header -->
    
    <!-- gnb-body -->
    <div class="gnb-body">
      <!-- gnb-menu -->
      <div class="gnb-menu">
        <div class="menu-wrap">
          {{ range sort .Site.Menus.depth "Weight"}}
            {{ if hasPrefix $link .URL}}
            <ul>
              {{ range $index, $page := sort .Children "Weight" }}
                  {{ $isActive := eq $link .URL }}
                  <li>
                    <a href="#mGnb-anchor{{$index}}" class="gnb-main-trigger {{ if or (eq $link .URL) (hasPrefix $link .URL) }}active {{ end }}">{{.Name}}</a>
                  </li>
              {{ end }}
            </ul>
            {{ end }}
          {{ end }}
        </div>
        <div class="submenu-wrap">
          {{ range sort .Site.Menus.depth "Weight"}}
            {{ if hasPrefix $link .URL}}
              {{ range $index, $page := sort .Children "Weight" }}
              <div class="gnb-sub-list" id="mGnb-anchor{{$index}}">
                <a href="{{.URL}}" class="sub-title" data-url="{{.URL}}">{{.Name}}</a>
                  {{ $isActive := eq $link .URL }}
                  <ul>
                  {{ range $index, $page := sort .Children "Weight" }}
                    {{if .HasChildren}}
                      <a href="{{.URL}}" id="sub-menu-{{.Name}}-{{$index}}" class="gnb-sub-trigger has-depth3{{ if or (eq $link .URL) (hasPrefix $link .URL) }} active{{ end }}">{{.Name}}</a>
									    <div class="depth3-wrap {{ if or (eq $link .URL) (hasPrefix $link .URL) }}is-open {{ end }}">
										    <ul>
                          {{ range sort .Children "Weight" }}
                          {{if .HasChildren}}
                          <li>
                            <a href="{{.URL}}" class="depth3-trigger has-depth4 {{ if or (eq $link .URL) (hasPrefix $link .URL) }}active {{ end }}" data-url="{{.URL}}">{{.Name}}</a>
                            <div class="depth4-wrap {{ if or (eq $link .URL) (hasPrefix $link .URL) }}is-open {{ end }}" style="width:80%">
                              <div class="depth4-head">
                                <button type="button" class="krds-btn icon trigger-prev">
                                  <span class="sr-only">이전화면</span>
                                  <i class="svg-icon ico-angle" style="transform:rotate(90deg)"></i>
                                </button>
                                <button type="button" class="krds-btn icon trigger-close">
                                  <span class="sr-only">전체메뉴 닫기</span>
                                  <i class="svg-icon ico-popup-close"></i>
                                </button>
                                {{/*  <button type="button" class="krds-btn medium icon" id="close-nav">
                                  <span class="sr-only">전체메뉴 닫기</span>
                                  <i class="svg-icon ico-popup-close"></i>
                                </button>  */}}
                              </div>
                              <ul class="depth4-body">
                                <h4 class="sub-title">{{.Name}}</h4>
                                <ul class="depth4-ul">
                                  {{ range sort .Children "Weight" }}
                                  <li class="depth4-item {{ if or (eq $link .URL) (hasPrefix $link .URL) }}active {{ end }}">
                                    <a href="{{.URL}}" data-url="{{.URL}}">{{.Name}}</a>
                                  </li>
                                  {{end}}
                                </ul>
                              </ul>
                            </div>
                          </li>
                          {{ else }}
                          <li><a href="{{.URL}}" class="depth3-trigger" data-url="{{.URL}}">{{.Name}}</a></li>
                          {{ end }}
                          {{ end }}
                        </ul>
                      </div>
                    {{ else }}
                    <li><a href="{{.URL}}"  id="sub-menu-{{.Name}}-{{$index}}" class="gnb-sub-trigger{{ if or (eq $link .URL) (hasPrefix $link .URL) }} selected{{ end }}" data-url="{{.URL}}">{{.Name}}</a></li>
                    {{ end}}
                  {{end}}
                  </ul>
              </div>
              {{end}}
            {{end}}
          {{end}}
        </div> <!-- //sub menu wrap -->
      </div> <!-- //gnb-menu -->
      <!-- gnb-bottom -->
      {{ if .File -}}
          {{ $fullPath := strings.TrimPrefix (add hugo.WorkingDir "/") .File.Filename }}
          {{ $relativePath := index (strings.Split $fullPath "content") 1 }}
          {{ $path := print "content" $relativePath }}
          {{ $path = strings.Replace $path "\\" "/" -1 }}

          {{ $gh_repo := $.Param "github_repo" -}}
          {{ $gh_subdir := $.Param "github_subdir" | default "" -}}
          {{ $gh_project_repo := $.Param "github_project_repo" -}}
          {{ $gh_branch := $.Param "github_branch" | default "main" -}}

            {{ $gh_repo_path := printf "%s/%s/%s" $gh_branch $gh_subdir $path -}}
            {{ $gh_repo_path = replaceRE "//+" "/" $gh_repo_path -}}
            {{ $gh_repo_path = replace $gh_repo_path "content/" "" -}}

            {{ $viewURL := printf "%s/tree/%s" $gh_repo $gh_repo_path -}}
            {{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path -}}
          
            {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (safeURL $.Title ) -}}
          <div class="gnb-bottom">
            <a href="{{ $viewURL }}" class="krds-btn medium text">페이지보기 <i class="svg-icon ico-angle right"></i></a>
            <a href="{{ $editURL }}" class="krds-btn medium text">페이지편집 <i class="svg-icon ico-angle right"></i></a>
            <a href="{{ $issuesURL }}" class="krds-btn medium text">문서에 이슈 생성 <i class="svg-icon ico-angle right"></i></a>
            {{ with $gh_project_repo -}}
              {{ $project_issueURL := printf "%s/issues/new" $gh_project_repo -}}
            <a href="{{ $project_issueURL }}" class="krds-btn medium text">프로젝트에 이슈 생성 <i class="svg-icon ico-angle right"></i></a>
            {{ end -}}
          </div>
        {{ end }}
      <!-- //gnb-bottom -->
    </div>
    <!-- //gnb-body -->
    
    <!-- gnb-close -->
    <button type="button" class="krds-btn medium icon" id="close-nav">
      <span class="sr-only">전체메뉴 닫기</span>
      <i class="svg-icon ico-popup-close"></i>
    </button>
    <!-- //gnb-close -->
  </div>
</nav>