{{ define "main" }}
  {{ $linkPattern := `<a([^>]*)>(.*?)</a>` }}
  {{ $linkReplacement := `<a class="krds-btn medium text" target="_blank" ${1}>${2}</a>` }}
  {{ $finalContent := .Content | replaceRE $linkPattern $linkReplacement }}
  <div class="mainLayout">
    <div class ="title" style="width: 100%; background-color:#063A74; color:white; border-radius:16px; padding: 16px; margin:32px auto">
      <div class="title_main">
        <h1>{{.Title}}</h1>
      </div>
      <p>전자정부 표준프레임워크 v5.0 컨트리뷰션용 가이드 페이지 입니다. </p>
      {{/*  <ul>
        {{ range .Site.Menus.depth}}
          <li>
            <a href="{{ .URL }}" class="btn btn-txt ico-more sm">
              <span class="m-hide">{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
      </ul>  */}}
    </div>
    <div class ="mainContent" style="text-align:left;">
      {{ $finalContent | safeHTML }}
    </div>
  </div>
{{ end }}
